#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [6]:
branch_gross = df.groupby('Branch')['gross income'].sum()
branch_gross

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

–ù–∞–π–≤–∏—â–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –æ—Ç—Ä–∏–º–∞–Ω–æ —Ñ—ñ–ª—ñ–∞–ª–æ–º "–°", –ø—Ä–∏–±—É—Ç–∫–∏ –æ—Ç—Ä–∏–º–∞–Ω—ñ —Ñ—ñ–ª—ñ–∞–ª–∞–º–∏ "–ê" —Ç–∞ "–í" –º–∞—é—Ç—å –Ω–µ–≤–µ–ª–∏–∫—É —Ä—ñ–∑–Ω–∏—Ü—é –º—ñ–∂ —Å–æ–±–æ—é.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [10]:
branch_gross1 = pd.pivot_table(df, index=['Branch','City'], values=['gross income'], aggfunc="sum")
branch_gross1

                  gross income
Branch City
A      Yangon        5057.1605
B      Mandalay      5057.0320
C      Naypyitaw     5265.1765

–¢–∞–∫ —è–∫ —ñ–Ω–¥–µ–∫—Å—É —Ñ—ñ–ª—ñ–∞–ª—É —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É "–°" –≤—ñ–¥–ø–æ–≤—ñ–¥–∞—î –º—ñ—Å—Ç–æ Naypyitaw —ñ –≤ –Ω—å–æ–º—É –æ—Ç—Ä–∏–º–∞–Ω–æ –Ω–∞–π–≤–∏—â–∏–π –ø—Ä–∏–±—É—Ç–æ–∫, —Ç–æ –¥–æ—Ü—ñ–ª—å–Ω–æ —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –¥—É–º–∫—É –ø—Ä–æ –≤—ñ–¥–∫—Ä–∏—Ç—Ç—è —â–µ –æ–¥–Ω–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É —É —Ü—å–æ–º—É –º—ñ—Å—Ç—ñ.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [35]:
invoices_by_category = pd.pivot_table(df, index='Branch' , columns=['Product line'], values=['Invoice ID'], aggfunc='count')
invoices_by_category

                         Invoice ID                                         \
Product line Electronic accessories Fashion accessories Food and beverages
Branch
A                                60                  51                 58
B                                55                  62                 50
C                                55                  65                 66


Product line Health and beauty Home and lifestyle Sports and travel
Branch
A                           47                 65                59
B                           53                 50                62
C                           52                 45                45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [25]:
print(invoices_by_category.columns)

MultiIndex([('Invoice ID', 'Electronic accessories'),
            ('Invoice ID',    'Fashion accessories'),
            ('Invoice ID',     'Food and beverages'),
            ('Invoice ID',      'Health and beauty'),
            ('Invoice ID',     'Home and lifestyle'),
            ('Invoice ID',      'Sports and travel')],
           names=[None, 'Product line'])

In [42]:
branch_with_max = invoices_by_category[('Invoice ID', 'Electronic accessories')].idxmax()

print(f"–§—ñ–ª—ñ–∞–ª —ñ–∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories': {branch_with_max}")

–§—ñ–ª—ñ–∞–ª —ñ–∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories': A

In [43]:
 invoices_by_category.columns.droplevel(0)

Index(['Electronic accessories', 'Fashion accessories', 'Food and beverages',
       'Health and beauty', 'Home and lifestyle', 'Sports and travel'],
      dtype='object', name='Product line')

In [47]:
invoices_by_category.columns = invoices_by_category.columns.droplevel(0)
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

In [48]:
print(invoices_by_category)

Product line  Electronic accessories  Fashion accessories  Food and beverages  \
Branch
A                                 60                   51                  58
B                                 55                   62                  50
C                                 55                   65                  66

Product line  Health and beauty  Home and lifestyle  Sports and travel
Branch
A                            47                  65                 59
B                            53                  50                 62
C                            52                  45                 45

In [49]:
branch_with_max = invoices_by_category['Electronic accessories'].idxmax()

print(f"–§—ñ–ª—ñ–∞–ª —ñ–∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories': {branch_with_max}")

–§—ñ–ª—ñ–∞–ª —ñ–∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories': A

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ú–æ–∂—É –∑–∞–ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ —Ç–∞–∫—ñ –ø–∏—Ç–∞–Ω–Ω—è:
1. —è–∫–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –≤—ñ–¥ –∑–∞–≥–∞–ª—å–Ω–æ–≥–æ –¥–æ—Å–≤—ñ–¥—É –ø–æ–∫—É–ø–æ–∫ –ø–æ —Ç—Ä—å–æ–º —Ñ—ñ–ª—ñ–∞–ª–∞–º —Å—É–ø—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤ (–ø–æ —à–∫–∞–ª—ñ –≤—ñ–¥ 1 –¥–æ 10)
2. —è–∫–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ –º—ñ–∂ –∫–æ–∂–Ω–∏–º —Ç–∏–ø–æ–º –∫–ª—ñ—î–Ω—Ç—ñ–≤ –ø–æ –∫–æ–∂–Ω–æ–º—É —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É
3. —è–∫–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –º–µ—Ç–æ–¥—ñ–≤ –æ–ø–ª–∞—Ç–∏ –ø–æ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞—Ö –≤ —Ä–æ–∑—Ä—ñ–∑—ñ –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ –ø–æ–∫—É–ø–∫–∏ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É

–†–æ–∑–≥–ª—è–Ω–µ–º–æ –∫–æ–∂–Ω—É –≤—ñ–¥–ø–æ–≤—ñ–ª—å –æ–∫—Ä–µ–º–æ.
    1. —Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –≤—ñ–¥ –∑–∞–≥–∞–ª—å–Ω–æ–≥–æ –¥–æ—Å–≤—ñ–¥—É –ø–æ–∫—É–ø–æ–∫ –ø–æ —Ç—Ä—å–æ–º —Ñ—ñ–ª—ñ–∞–ª–∞–º —Å—É–ø—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤ (–ø–æ —à–∫–∞–ª—ñ –≤—ñ–¥ 1 –¥–æ 10):

In [57]:
df.groupby('City')['Rating'].mean().round(4)

City
Mandalay     6.8181
Naypyitaw    7.0729
Yangon       7.0271
Name: Rating, dtype: float64

–ó —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫—É –≤–∏–¥–Ω–æ, —â–æ —Ä–æ–∑–±—ñ–∂–Ω–æ—Å—Ç—ñ —Ä–µ–π—Ç–∏–Ω–≥–∞—Ö –º—ñ–∂ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞—Ö –≤ –º—ñ—Å—Ç–∞—Ö –Ω–µ –∑–Ω–∞—á–Ω—ñ, –≤—Å—ñ –≤–∏—â–µ —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ –∑–Ω–∞—á–µ–Ω–Ω—è (—à–∫–∞–ª–∞ –≤–∏–º—ñ—Ä—é–≤–∞–Ω–Ω—è –≤—ñ–¥ 1 –¥–æ 10), –Ω–∞–π–±—ñ–ª—å—à–µ –∑–Ω–∞—á–µ–Ω–Ω—è –≤ –º—ñ—Å—Ç—ñ Naypyitaw - 7.0729, –Ω–∞–π–º–µ–Ω—à–µ –≤ –º—ñ—Å—Ç—ñ Mandalay - 6.8181. 
–ö–µ—Ä—ñ–≤–Ω–∏—Ü—Ç–≤—É —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É –≤ –º—ñ—Å—Ç—ñ Mandalay –Ω–µ–æ–±—Ö—ñ–¥–Ω–æ –Ω–∞–ø—Ä–∞–≤–∏—Ç–∏ –∑—É—Å–∏–ª–ª—è –Ω–∞ –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—è —Ä–µ–π—Ç–µ–Ω–≥—É –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ –∫–ª—ñ—î–Ω—Ç—ñ–≤ —á–µ—Ä–µ–∑:
- –ø—Ä–∏–¥—ñ–ª–µ–Ω–Ω—è –±—ñ–ª—å—à–µ —É–≤–∞–≥–∏ –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—é —Ä—ñ–≤–Ω—è –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è;
- –ø—Ä–æ–≤–µ–¥–µ–Ω–Ω—è —Ç—Ä–µ–Ω—ñ–Ω–≥—ñ–≤ –¥–ª—è –ø–µ—Ä—Å–æ–Ω–∞–ª—É;
- –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è —É–º–æ–≤ –ø–æ–∫—É–ø–æ–∫;
- –ø—Ä–æ–≤–µ–¥–µ–Ω–Ω—è –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤–∏—Ö –∫–∞–º–ø–∞–Ω—ñ–π –¥–ª—è –∑–∞–ª—É—á–µ–Ω–Ω—è —É–≤–∞–≥–∏ –¥–æ —Ü—å–æ–≥–æ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É;
- –≤–∏—è–≤–ª–µ–Ω–Ω—è –∫–æ–Ω–∫—Ä–µ—Ç–Ω–∏—Ö –ø—Ä–æ–±–ª–µ–º –∞–±–æ –æ–±–ª–∞—Å—Ç–µ–π –¥–ª—è –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, —á–∞—Å –æ—á—ñ–∫—É–≤–∞–Ω–Ω—è –≤ —á–µ—Ä–∑—ñ, –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–æ–≤–∞—Ä—ñ–≤ —á–∏ –ø–æ–≤–µ–¥—ñ–Ω–∫–∞ –ø–µ—Ä—Å–æ–Ω–∞–ª—É).

    2. —Ä–æ–∑–ø–æ–¥—ñ–ª –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ –º—ñ–∂ –∫–æ–∂–Ω–∏–º —Ç–∏–ø–æ–º –∫–ª—ñ—î–Ω—Ç—ñ–≤ –ø–æ –∫–æ–∂–Ω–æ–º—É —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É

In [69]:
invoices_by_ustomer_type = pd.pivot_table(df, index='City' , columns=['Customer type'], values=['Quantity'], aggfunc='sum')
invoices_by_ustomer_type

              Quantity
Customer type   Member Normal
City
Mandalay           924    896
Naypyitaw          897    934
Yangon             964    895

In [71]:
customer_type_member_max = invoices_by_ustomer_type[('Quantity', 'Member')].idxmax()
print(f"–ú—ñ—Å—Ü–µ–∑–Ω–∞—Ö–æ–¥–∂–µ–Ω–Ω—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞ —ñ–∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∫–ª—ñ—î–Ω—Ç–∞–º–∏, —â–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫–∞—Ä—Ç–∫—É —á–ª–µ–Ω–∞: {customer_type_member_max}")

–ú—ñ—Å—Ü–µ–∑–Ω–∞—Ö–æ–¥–∂–µ–Ω–Ω—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞ —ñ–∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∫–ª—ñ—î–Ω—Ç–∞–º–∏, —â–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫–∞—Ä—Ç–∫—É —á–ª–µ–Ω–∞: Yangon

In [75]:
customer_type_member_min = invoices_by_ustomer_type[('Quantity', 'Member')].idxmin()
print(f"–ú—ñ—Å—Ü–µ–∑–Ω–∞—Ö–æ–¥–∂–µ–Ω–Ω—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞ —ñ–∑ –Ω–∞–π–º–µ–Ω—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∫–ª—ñ—î–Ω—Ç–∞–º–∏, —â–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫–∞—Ä—Ç–∫—É —á–ª–µ–Ω–∞: {customer_type_member_min}")

–ú—ñ—Å—Ü–µ–∑–Ω–∞—Ö–æ–¥–∂–µ–Ω–Ω—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞ —ñ–∑ –Ω–∞–π–º–µ–Ω—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∫–ª—ñ—î–Ω—Ç–∞–º–∏, —â–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫–∞—Ä—Ç–∫—É —á–ª–µ–Ω–∞: Naypyitaw

In [77]:
customer_type_normal_max = invoices_by_ustomer_type[('Quantity', 'Normal')].idxmax()
print(f"–ú—ñ—Å—Ü–µ–∑–Ω–∞—Ö–æ–¥–∂–µ–Ω–Ω—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞ —ñ–∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫, –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∑–≤–∏—á–∞–π–Ω–∏–º–∏ –∫–ª—ñ—î–Ω—Ç–∞–º–∏: {customer_type_normal_max}")

–ú—ñ—Å—Ü–µ–∑–Ω–∞—Ö–æ–¥–∂–µ–Ω–Ω—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞ —ñ–∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫, –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∑–≤–∏—á–∞–π–Ω–∏–º–∏ –∫–ª—ñ—î–Ω—Ç–∞–º–∏: Naypyitaw

In [78]:
customer_type_normal_min = invoices_by_ustomer_type[('Quantity', 'Normal')].idxmin()
print(f"–ú—ñ—Å—Ü–µ–∑–Ω–∞—Ö–æ–¥–∂–µ–Ω–Ω—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞ —ñ–∑ –Ω–∞–π–º–µ–Ω—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫, –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∑–≤–∏—á–∞–π–Ω–∏–º–∏ –∫–ª—ñ—î–Ω—Ç–∞–º–∏: {customer_type_normal_min}")

–ú—ñ—Å—Ü–µ–∑–Ω–∞—Ö–æ–¥–∂–µ–Ω–Ω—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞ —ñ–∑ –Ω–∞–π–º–µ–Ω—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫, –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∑–≤–∏—á–∞–π–Ω–∏–º–∏ –∫–ª—ñ—î–Ω—Ç–∞–º–∏: Yangon

–ó —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫—É –º–æ–∂–µ–º–æ –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–æ–∫ –ø—Ä–æ —Ç–µ, —â–æ:
- —É –º—ñ—Å—Ç—ñ Yangon –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç —ñ–∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ (964) –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∫–ª—ñ—î–Ω—Ç–∞–º–∏, —â–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫–∞—Ä—Ç–∫—É —á–ª–µ–Ω–∞ —Ç–∞ –∑ –Ω–∞–π–º–µ–Ω—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ (895), –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∑–≤–∏—á–∞–π–Ω–∏–º–∏ –∫–ª—ñ—î–Ω—Ç–∞–º–∏;
- —É –º—ñ—Å—Ç—ñ Naypyitaw –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç —ñ–∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ (934) –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∑–≤–∏—á–∞–π–Ω–∏–º–∏ –∫–ª—ñ—î–Ω—Ç–∞–º–∏ —Ç–∞ –∑ –Ω–∞–π–º–µ–Ω—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ (897) –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∫–ª—ñ—î–Ω—Ç–∞–º–∏, —â–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫–∞—Ä—Ç–∫—É —á–ª–µ–Ω–∞;
- —É –º—ñ—Å—Ç—ñ Mandalay —Å–µ—Ä–µ–¥–Ω—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ —É —Ü–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö, –ø—Ä–∏ —á–æ–º—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫, –∑–¥—ñ–π—Å–Ω–µ–Ω–æ—é –∑–≤–∏—á–∞–π–Ω–∏–º–∏ –∫–ª—ñ—î–Ω—Ç–∞–º–∏, —Å—Ç–∞–Ω–æ–≤–∏—Ç—å 896, —â–æ —Ä–æ–±–∏—Ç—å —ó—ó –º–∞–π–∂–µ –æ–¥–Ω–∞–∫–æ–≤–æ—é –∑ –ø–æ–∫–∞–∑–Ω–∏–∫–æ–º –≤ –º—ñ—Å—Ç—ñ Yangon;.
–î–ª—è –º—ñ—Å—Ç–∞ Naypyitaw –Ω–µ–æ–±—Ö—ñ–¥–Ω–æ –∑–æ—Å–µ—Ä–µ–¥–∏—Ç–∏—Å—å –Ω–∞ –ø—Ä–æ—Å—É–≤–∞–Ω–Ω—ñ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω–∏—Ö –∞–∫—Ü—ñ–π, –¥–ª—è –º–æ—Ç–∏–≤–∞—Ü—ñ—ó  –ø–æ–∫—É–ø—Ü—ñ–≤ —Å—Ç–∞–≤–∞—Ç–∏ —á–ª–µ–Ω–∞–º–∏ –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ.
–î–ª—è –º—ñ—Å—Ç–∞ Yangon –Ω–µ–æ–±—Ö—ñ–¥–Ω–æ –ø—Ä–æ–¥–æ–≤–∂—É–≤–∞—Ç–∏ —Ä–æ–∑–≤–∏–≤–∞—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ, –ø—Ä–æ–ø–æ–Ω—É—é—á–∏ –Ω–æ–≤—ñ –ø–µ—Ä–µ–≤–∞–≥–∏ —Ç–∞ –∑–Ω–∏–∂–∫–∏, —â–æ–± –∑–±—ñ–ª—å—à–∏—Ç–∏ —á–∞—Å—Ç–æ—Ç—É –ø–æ–∫—É–ø–æ–∫ —Å–µ—Ä–µ–¥ —Ü—ñ—î—ó –≥—Ä—É–ø–∏, —Ü—ñ –∑–∞—Ö–¥–∏ –º–æ–∂–Ω–∞ –ø—Ä–æ—Å—É–≤–∞—Ç–∏ —ñ –¥–ª—è –º—ñ—Å—Ç–∞ Mandalay –¥–ª—è –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø—Ü—ñ–≤, —â–æ —î —á–ª–µ–Ω–∞–º–∏ –∫–ª—É–±—É.   
–ú–æ–Ω—ñ—Ç–æ—Ä–∏–Ω–≥ –µ—Ñ–µ–∫—Ç–∏–≤–Ω–æ—Å—Ç—ñ –ø—Ä–æ–≥—Ä–∞–º –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –≤ —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö: –ü–æ—Ä—ñ–≤–Ω—è–Ω–Ω—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ–≤ –º—ñ–∂ —Ä—ñ–∑–Ω–∏–º–∏ –º—ñ—Å—Ç–∞–º–∏ —Ç–∞ —Ç–∏–ø–∞–º–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ –¥–æ–ø–æ–º–æ–∂–µ –∑—Ä–æ–∑—É–º—ñ—Ç–∏, –¥–µ –ø—Ä–æ–≥—Ä–∞–º–∞ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –¥–∞—î –Ω–∞–π–±—ñ–ª—å—à–∏–π –µ—Ñ–µ–∫—Ç, —ñ –∑–æ—Å–µ—Ä–µ–¥–∏—Ç–∏ –∑—É—Å–∏–ª–ª—è –Ω–∞ —Ü–∏—Ö –ª–æ–∫–∞—Ü—ñ—è—Ö.

    3. —Ä–æ–∑–ø–æ–¥—ñ–ª –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –º–µ—Ç–æ–¥—ñ–≤ –æ–ø–ª–∞—Ç–∏ –ø–æ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞—Ö –≤ —Ä–æ–∑—Ä—ñ–∑—ñ –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ –ø–æ–∫—É–ø–∫–∏ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É

In [55]:
df.groupby(['City', 'Payment']).agg({'Quantity': 'sum', 'Total': 'mean'})

                       Quantity       Total
City      Payment
Mandalay  Cash              628  321.267832
          Credit card       599  342.613362
          Ewallet           593  296.578354
Naypyitaw Cash              696  347.466593
          Credit card       543  309.463929
          Ewallet           592  350.522491
Yangon    Cash              572  307.102282
          Credit card       580  318.218755
          Ewallet           707  312.098167

–ü—Ä–æ–∞–Ω–∞–ª—ñ–∑—É—î–º–æ —Å–ø–æ—Å–æ–±–∏ –æ–ø–ª–∞—Ç–∏ –ø–æ –º—ñ—Å—Ç–∞–º:
-  Mandalay - –Ω–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ –º–∞—î —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ –≥–æ—Ç—ñ–≤–∫—é, –Ω–∞–π–±—ñ–ª—å—à–∞ —Å–µ—Ä–µ–¥–Ω—è –ø–æ–∫—É–ø–∫–∞ –æ–ø–ª–∞—á–µ–Ω–∞ –∫—Ä–µ–¥–∏—Ç–Ω–æ—é –∫–∞—Ä—Ç–æ—é;
-  Naypyitaw - –Ω–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ –º–∞—î —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ –≥–æ—Ç—ñ–≤–∫—é, –Ω–∞–π–±—ñ–ª—å—à–∞ —Å–µ—Ä–µ–¥–Ω—è –ø–æ–∫—É–ø–∫–∞ –æ–ø–ª–∞—á–µ–Ω–∞ –∑ –µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω–æ–≥–æ –≥–∞–º–∞–Ω—Ü—è;
-  Yangon - –Ω–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ –º–∞—î —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ –µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω–∏–º –≥–∞–º–∞–Ω—Ü–µ–º, –Ω–∞–π–±—ñ–ª—å—à–∞ —Å–µ—Ä–µ–¥–Ω—è –ø–æ–∫—É–ø–∫–∞ –æ–ø–ª–∞—á–µ–Ω–∞ –∫—Ä–µ–¥–∏—Ç–Ω–æ—é –∫–∞—Ä—Ç–æ—é.
–¶—ñ –¥–∞–Ω—ñ –º–æ–∂–Ω–∞ –≤–∏–∫—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ –¥–ª—è —Ä–æ–∑—Ä–æ–±–∫–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤–∏—Ö –∫–æ–º–ø–∞–Ω—ñ–π –¥–ª—è –∑–∞–ª—É—á–µ–Ω–Ω—è –ø–æ–∫—É–ø—Ü—ñ–≤ –∑ –æ–≥–ª—è–¥—É –Ω–∞ —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ –≤ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞—Ö, –ø—Ä–æ–ø–æ–Ω—É–∞—Ç–∏ –ø–µ–≤–Ω—ñ –∞–∫—Ü—ñ—ó –∑ –æ–≥–ª—è–¥—É –Ω–∞ –Ω–∞–π–±—ñ–ª—å—à –ø–æ–ø—É–ª—è—Ä–Ω—ñ —Å–ø–æ—Å–æ–±–∏ –æ–ø–ª–∞—Ç–∏ –≤ –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ.